
@media screen {
	body {
		display: flex;
		flex-wrap: wrap;	
	}
}
.square1,
.square2,
.square3,
.square4,
.square5,
.square6 {
	width: 200px;
	height: 200px;
}
.square1 {
	background: red;
}
.square2 {
	background: black;
}
.square3 {
	background: yellow;
}
.square4 {
	background: green;
}
.square5 {
	background: gray;
}
.square6 {
	background: pink;
}